.header-left
  %i.far.fa-user
  = link_to root_path, class: "prof" do
    Home
  = link_to profile_tops_path, class: "prof" do
    Profile
  = link_to access_tops_path, class: "prof" do
    Contact
  = mail_to "biankobayashi@gmail.com", target: :_blank, class: "prof" do
    Gmail
  .app -Made Application-
  = link_to beat_tops_path, class: "make-beat" do
    韻strumental
  = link_to peace_tops_path, class: "make-peace" do
    PEACE fitness
