.header-left
  %i.fab.fa-wikipedia-w
  = link_to root_path, class: "prof" do
    Home
  = link_to profile_tops_path, class: "prof" do
    Profile
  = link_to access_tops_path, class: "prof" do
    Access
  = link_to git_tops_path, class: "prof" do
    GitHub
  .app -Made Application-
  = link_to beat_tops_path, class: "make-beat" do
    韻strumental
  = link_to peace_tops_path, class: "make-peace" do
    PEACE fitness
