.wrapper
  .header-beat
    .beat-title
      .title 韻strumental
      .sub -Made Application-
      .sub URL
      = link_to "https://findbeat.herokuapp.com/", target: :_blank, class: "url" do
        https://findbeat.herokuapp.com/
    .contents
      .contents__list ・概要
      .sentences 「自分のお気に入りのトラックメーカーを見つけたい。自分の評価しているトラックメーカーの方にビートを作ってもらいたい」と言う希望にお答えした、HipHop,Reggae専用のトラックミュージックサイトです。
      .contents__list ・使用言語
      .sentences Haml/Scss/jQuery/Ruby/Ruby on Rails
      .contents__list ・使用サイト
      = link_to "https://pixabay.com/ja/", target: :_blank, class: "sentences" do
        pixabay
      = link_to "https://www.websiteplanet.com/ja/webtools/favicon-generator/", target: :_blank, class: "sentences" do
        WEBSITE PLANET
      .contents__list ・機能
      .sentences 
        %ul
          %li ・ユーザー登録機能/マイページ機能 ・検索機能
          %li ・画像/音楽/ジャンル投稿機能 ・いいね機能/いいね一覧
          %li ・ジャンル別機能 ・コメント機能(非同期)
      .contents__list ・実装期間
      .sentences 07/18~08/04, 08/21~08/22, 08/25~08/26 
      .contents__list ・画面対応
      .sentences iPhone/スマートフォン
      .contents__list ・Repository
      = link_to "https://github.com/bian160928/blog", target: :_blank, class: "sentences" do
        https://github.com/bian160928/blog
      .contents__list ・その他
      .sentences 音楽投稿サイトですが、著作権などの関係もありバケットは作成せずに一つのポートフォリオとして活用する予定ですので、 投稿していただいた写真と音楽は数分後に自動的に消去されます。
  = render partial: 'side'